form#articleFormID .row {margin-top:10px;margin-bottom:10px;}
form#articleFormID .form-group {font-size:12px;}
form#articleFormID .form-group label {padding-left:10px;}
form#articleFormID .form-control {padding:5px 2px;font-size:12px;}
form#articleFormID .form-content {width:100%;}
form#articleFormID .form-amount {width:70px;}
form#articleFormID .form-tax {width:40px;}
form#articleFormID .form-quantity {width:25px;}