.table-condensed {font-size:13px;padding:1px !important;margin-bottom:2px;}
.table-condensed > tbody > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > thead > tr > th { padding: 2px;}

.timecards .datarif{width:90px;}
.timecards .monthrif{width:50px;}
.table-condensed .hours{width:75px}

.form-daydata {padding:5px 10px;}

/*.form-timecard {padding:5px 20px;}
.form-timecard-pre {margin-top:10px;padding:5px 20px;}
*/

.btn-circle-timecard-del {border-radius:15px;font-size: 11px;color:red;border-color:red;height: 16px;line-height: 1.3;padding: 0px;text-align: center;width: 16px;}
.btn-circle-timecard-mod {border-radius:15px;font-size: 11px;color:blue;border-color:blue;height: 16px;line-height: 1.3;padding: 0px;text-align: center;width: 16px;}

#accordion {}
#accordion .panel {background-color: #fff;margin-bottom: 4px;}
#accordion .panel-title {font-size: 14px;}
#accordion .panel-title a.changedata {padding-right:20px;}
#accordion .panel-heading {border-top-left-radius: 3px;border-top-right-radius: 3px;padding: 4px 15px;}	
#accordion .panel-body {padding:5px;}
#accordion .panel-body.current {background-color: #fff;}
#accordion .ore-totali {font-size: 16px; margin-bottom:30px;padding-left:15px;}
#accordion .ore-totali .value {font-weight: bold;}